/* Banner */
#banner {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: url('https://i.imgur.com/NttUR5e.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 16px;
    /*background-blend-mode: overlay;
    color: white;*/
}

#banner h1 {
    padding: 0 24px;
    font-size: 48px;
    color: white;
    text-align: center;
}
