.grid-container {
    display: grid;
    grid-gap: 40px 90px;
    grid-template-columns: 1fr 1fr 1fr /*300px 300px 300px*/;
    grid-template-rows: auto;
    padding-bottom: 40px;
    width: 300px;
    margin: 75px 75px;
   align-items: center;
   justify-items: center;
}

.card-image img {
    width: 300px;
    height: 300px;
}

.card {
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    width: 300px;
    height: 675px;
    text-align: center;
    border: 5px solid #555;
    border-radius: 5px;
    background-color: #7ac;
    text-decoration: none;

}

.btn-viewmore {
    background: #225;
    border: 2px solid #114;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
}