.grid-container {
    display: grid;
    grid-gap: 40px 90px;
    grid-template-columns: auto auto auto;
    padding-bottom: 40px;
    width: 300px;
    margin-bottom: 75px;
}

.card-image img {
    width: 300px;
    height: 300px;
}

.card {
    padding: 30px;
    width: 300px;
    height: 675px;
    text-align: center;
    border: 5px solid #5f5f5f;
    border-radius: 5px;
    background-color: #74a1c5;
    text-decoration: none;
}

.btn-viewmore {
    background: #222255;
    border: 2px solid #191942;
    border-radius: 4px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    color: white;
    cursor: pointer;
}