@import "./banner.css";
@import "./nav.css";
@import "./card.css";
@import "./footer.css";
@import "./blog.css";

/*font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Roboto Mono', monospace;*/

html, body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    width: 1300px;
    height: 100%;
}

h1 {
    padding: 8px;
    color: white;
    margin: 0;
    font-size: 64px;
    font-family: 'Roboto Slab', serif;
}

p {
    line-height: 1.5;
}

main {
    margin: 0 auto;
    margin-top: 75px;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

